name: Build full solution

on:
  push:
  workflow_dispatch:

jobs:
  build-solution:
    runs-on: ubuntu-latest
    concurrency:
      group: branch-build-solution-${{ github.ref_name }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Build solution
        run: dotnet build -c Release

  create-binary:
    runs-on: ubuntu-latest
    concurrency:
      group: branch-build-binary-${{ github.ref_name }}
      cancel-in-progress: true
    if: github.ref == 'refs/heads/main'
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Publish package
        run: dotnet publish AutoscalerApi --self-contained -p:PublishSingleFile=true -p:PublishReadyToRun=true -p:PublishTrimmed=true -r linux-${{ matrix.arch }} -c Release -o artifacts
      - name: Publish artifacts
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5.0.0
        with:
          name: github-autoscaler-linux-${{ matrix.arch }}
          path: artifacts/*
          retention-days: 1
